<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bootstrap/images/favicon.ico">
    <title>1TapMeal IDP</title>
    
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">

  </head>
<link href="/static/bootstrap/css/signin.css" rel="stylesheet">
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand">Identity Provider</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('new_app_password') }}">APP Passwords</a></li>
                <li class="active"><a href="{{ url_for('new_app') }}">Developers</a></li>
                </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <h4 class="white-text">Hi, {{ current_user.username }}!</h4>
            </div>
            {% if current_user.image %}
            <div class="form-group">
              <img style="max-width:60px;" src="{{current_user.image}}">
            </div>
            {% endif %}
            <a class="btn btn-default" href="{{ url_for('signout') }}" role="button">Logout</a>
          </form>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>

    <div class="container text-center">
      <!-- Example row of columns -->
      <div class="row">
        <form class="form-signin" method="post" action="/oauth/authorize">
            <h2 class="form-signin-heading">Allow Access</h2>
            <h4 class="form-signin-heading"><strong>{{ client.name }}</strong> wants to access your account.</h4>
            <h4>It will access the following components:</h4>
            <input type="hidden" name="client_id" value="{{ client.client_id }}">
            <input type="hidden" name="response_type" value="{{ response_type }}">
            <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
            <input class="form-control" name="scope" value="{{ scopes|join(' ') }}" readonly>
            {% if state %}
                <input name="state" value="{{ state }}">
            {% endif %}
            <h2>Do you allow it?</h2>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="confirm" value="yes" >Yes</button>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="confirm" value="no" >No</button>
        </form>
      </div>
      <hr>
      <footer>
        <p>1TapMeal Identity Provider</p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>

</html>
