<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bootstrap/images/favicon.ico">
    <title>1TapMeal IDP</title>
    
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <link href="/static/bootstrap/css/signin.css" rel="stylesheet">
  {% if current_user.is_authenticated %}
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand">Identity Provider</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('new_app_password') }}">APP Passwords</a></li>
                <li><a href="{{ url_for('new_app') }}">Developers</a></li>
                </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <h4 class="white-text">Hi, {{ current_user.username }}!</h4>
            </div>
            {% if current_user.image %}
            <div class="form-group">
              <img style="max-width:60px;" src="{{current_user.image}}">
            </div>
            {% endif %}
            <a class="btn btn-default" href="{{ url_for('signout') }}" role="button">Logout</a>
          </form>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>

    <div class="container text-center">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Profile</h2>
          <p>Edit your profile details, including your password.</p>
          <p><a class="btn btn-default" href="{{ url_for('profile') }}" role="button">Profile &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Manage APP passwords</h2>
          <p>Create or manager your APP passwords.</p>
          <p><a class="btn btn-default" href="{{ url_for('new_app_password') }}" role="button">APP Passwords &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Developers</h2>
          <p>This section allows you to create oauth credentials so you can login on other services with this IDP.</p>
          <p><a class="btn btn-default" href="{{ url_for('new_app') }}" role="button">Developers &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>1TapMeal Identity Provider</p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
  {% else %}
  <body background="/static/bootstrap/images/background.jpg">
    <div class="container text-center">

      <form class="form-signin" method="post" action="/">
        <h2 class="form-signin-heading white-text">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="rememberme" id="rememberme" value="rememberme"> Remember me
          </label>
        </div>
        {% for message in get_flashed_messages() %}
                <p class="white-text"><b>Error</b>: {{ message }}</p>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-lg btn-info btn-block" onclick="window.location.href='{{ url_for('signup') }}'">Sign up</button>
        <div class="row">
          <div class="text-center page-header">
            <p class="white-text">Sign in with:</p>
            <button type="button" class="btn btn-social-icon btn-facebook" onclick="window.location.href='{{ url_for('oauth_authorize', provider='Facebook') }}'">
              <span class="fa fa-facebook"></span></button>

            <button type="button" class="btn btn-social-icon btn-twitter" onclick="window.location.href='{{ url_for('oauth_authorize', provider='Twitter') }}'">
              <span class="fa fa-twitter"></span></button>

            <button type="button" class="btn btn-social-icon btn-google" onclick="window.location.href='{{ url_for('oauth_authorize', provider='Google') }}'">
              <span class="fa fa-google"></span></button>
          </div>
        </div>
      </form>
    </div> 
  </body>
  {% endif %}
</html>