<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bootstrap/images/favicon.ico">
    <title>1TapMeal IDP</title>
    
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">

  </head>
<link href="/static/bootstrap/css/signin.css" rel="stylesheet">
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand">Identity Provider</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li class="active"><a href="{{ url_for('new_app_password') }}">APP Passwords</a></li>
                <li><a href="{{ url_for('new_app') }}">Developers</a></li>
                </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <h4 class="white-text">Hi, {{ current_user.username }}!</h4>
            </div>
            {% if current_user.image %}
            <div class="form-group">
              <img style="max-width:60px;" src="{{current_user.image}}">
            </div>
            {% endif %}
            <a class="btn btn-default" href="{{ url_for('signout') }}" role="button">Logout</a>
          </form>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>

    <div class="container text-center">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
            <h2 class="form-signin-heading">Your Current APPs</h2>
            <table class="table">
            <thead>
              <tr>
                <th class="text-center">APP Name</th>
              </tr>
            </thead>
            <tbody>
                {% for app in apps %}
                <tr>
                    <td>{{ app.name }}</td>
                    <td><a class="btn btn-danger" href="{{ url_for('deleteAppPassword', app_id=app.id) }}" role="button">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
            <form class="form-signin" method="post" action="/new_app_password">
                <h2 class="form-signin-heading">Create APP password</h2>
                <label for="app_name" class="sr-only">APP Name</label>
                <input type="text" id="app_name" name="app_name" class="form-control" placeholder="APP Name" required autofocus>
                {% for message in get_flashed_messages() %}
                        <p><b>Error</b>: {{ message }}</p>
                {% endfor %}
                <hr>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                <a class="btn btn-lg btn-success btn-block" href="{{ url_for('index') }}" role="button">Cancel</a>
            </form>
        </div>
        
      </div>

      <hr>

      <footer>
        <p>1TapMeal Identity Provider</p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>
