</html>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bootstrap/images/favicon.ico">
    <title>1TapMeal IDP</title>
    
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <link href="/static/bootstrap/css/signin.css" rel="stylesheet">
<body background="/static/bootstrap/images/background.jpg">
    <div class="container text-center">

      <form class="form-signin" method="post" action="/callback/post_provider">
        <h2 class="form-signin-heading white-text">We also need your phone number...</h2>
        <label for="phone" class="sr-only">Phone Number</label>
        <input type="tel" id="phone" name="phone" class="form-control" placeholder="Phone Number" required>
        {% for message in get_flashed_messages() %}
                <p class="white-text"><b>Error</b>: {{ message }}</p>
        {% endfor %}
        <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <a class="btn btn-lg btn-success btn-block" href="{{ url_for('index') }}" role="button">Cancel</a>
      </form>
    </div> 
  </body>

</html>
