<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bootstrap/images/favicon.ico">
    <title>1TapMeal IDP</title>
    
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <link href="/static/bootstrap/css/signin.css" rel="stylesheet">
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand">Identity Provider</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li class="active"><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('new_app_password') }}">APP Passwords</a></li>
                <li><a href="{{ url_for('new_app') }}">Developers</a></li>
                </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <h4 class="white-text">Hi, {{ current_user.username }}!</h4>
            </div>
            {% if current_user.image %}
            <div class="form-group">
              <img style="max-width:60px;" src="{{current_user.image}}">
            </div>
            {% endif %}
            <a class="btn btn-default" href="{{ url_for('signout') }}" role="button">Logout</a>
          </form>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      </div>
    </div>

    <div class="container text-center">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <form class="form-signin" method="post" action="/profile" enctype="multipart/form-data">
              <h2 class="form-signin-heading">Account Details</h2>
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" class="form-control" value="{{ current_user.username }}" readonly>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" class="form-control" value="{{ current_user.email }}" required>
              <label for="phone">Phone Number:</label>
              <input type="tel" id="phone" name="phone" class="form-control" value="{{ current_user.phone }}" required>
              {% for message in get_flashed_messages() %}
                      <p><b>Error</b>: {{ message }}</p>
              {% endfor %}
              <hr>
              <label for"image_div">Profile Image:</label>
              <div class="row text-center" id="image_div">
                {% if current_user.image %}
                <img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="{{ current_user.image }}" data-holder-rendered="true" style="width: 150px; height: 150px;">
                {% endif %}
                <input type="file" id="image" name="image" class="form-control" placeholder="Upload Image">
              </div>
              {% if details_update %}
                <div class="alert alert-success" role="alert">
                  Details updated successfully.
                </div>
              {% endif%}
              <hr>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Update Details</button>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-signin" method="post" action="/profile/update_password">
              <h2 class="form-signin-heading">Account Password</h2>
              <label for="password_old" class="sr-only">Current Password</label>
              <input type="password" id="password_old" name="password_old" class="form-control" placeholder="Current Password" autofocus>
              <label for="password_new" class="sr-only">New Password</label>
              <input type="password" id="password_new" name="password_new" class="form-control" placeholder="New Password" required>
              <label for="password_new_r" class="sr-only">Repeat New Password</label>
              <input type="password" id="password_new_r" name="password_new_r" class="form-control" placeholder="Repeat New Password" required>
              {% for message in get_flashed_messages() %}
                      <p><b>Error</b>: {{ message }}</p>
              {% endfor %}
              {% if password_update %}
                <div class="alert alert-success" role="alert">
                  Password updated successfully.
                </div>
              {% endif%}
              <hr>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
            </form>
        </div> 
        <div class="col-md-4">
            <form class="form-signin">
                <h2 class="form-signin-heading">Associate Social Accounts</h2>
                <button type="button" class="btn btn-social-icon btn-facebook" onclick="window.location.href='{{ url_for('oauth_authorize', provider='Facebook') }}'"><span class="fa fa-facebook"></span></button>

                <button type="button" class="btn btn-social-icon btn-twitter" onclick="window.location.href='{{ url_for('oauth_authorize', provider='Twitter') }}'"><span class="fa fa-twitter"></span></button>

                <button type="button" class="btn btn-social-icon btn-google" onclick="window.location.href='{{ url_for('oauth_authorize', provider='Google') }}'"><span class="fa fa-google"></span></button>
            </form>
            {% if providers != [] %}
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Already Associated</h3>
              </div>
              <div class="panel-body">
                {% for provider in providers %}
                <h4>{{ provider }}</h4>
                {% endfor %}
              </div>
            </div>
            {% endif %}
        </div>
      </div>

      <hr>

      <footer>
        <p>1TapMeal Identity Provider</p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>