<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/bootstrap/images/favicon.ico">
    <title>1TapMeal IDP</title>
    
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <link href="/static/bootstrap/css/signin.css" rel="stylesheet">
<body background="/static/bootstrap/images/background.jpg">
    <div class="container text-center">

      <form class="form-signin" method="post" action="/signup" enctype="multipart/form-data">
        <h2 class="form-signin-heading white-text">Sign Up</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <label for="password_r" class="sr-only">Repeat Password</label>
        <input type="password" id="password_r" name="password_r" class="form-control" placeholder="Repeat Password" required>
        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
        <label for="phone" class="sr-only">Phone Number</label>
        <input type="tel" id="phone" name="phone" class="form-control" placeholder="Phone Number" required>
        <label for"image" class="white-text">Profile Image:</label>
        <input type="file" id="image" name="image" class="form-control" placeholder="Upload Image">
        {% for message in get_flashed_messages() %}
                <p class="white-text"><b>Error</b>: {{ message }}</p>
        {% endfor %}
        <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <a class="btn btn-lg btn-success btn-block" href="{{ url_for('index') }}" role="button">Back</a>
      </form>
    </div> 
  </body>

</html>
